.products {
    margin: 0;
    padding: 0.5em;
  border-collapse: collapse;
  background-color: #effeef;
}

a{
 padding: 0.354em 0.5em;
 border-radius: 0.354em; 
}
 table {
    border-collapse:collapse;
}
 td{
 padding: 0.5em;
 margin: 0; }

 tr.list_line_odd { 
     background-color: #effeef;
}

td.image {
// Hide this on mobile devices 
display: none;
// Assume anything bigger than 30em // is a non-mobile device and can // fit the image.
@media (min-width: 30em) {
display: block;
img {
    height: 11.3em;
    }
  }
}

td.description {
h1{
font-size: 1.4em; }
}

td.actions{
  ul{
    padding: 0;
    list-style: none;
    li{
      padding: 0.5em 0.5em;
    }
  }
}

tfoot {
 td{
 padding: 0.5em 0; }
}

.store{
  max-width: 80em;
  ul.catolog{
    border-top: solid 0.250em;
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      padding: 1em;
      margin: 0;
      border-bottom: solid thin #ddd;


      &::after{
        clear: both;
        content: " ";
        display: block;
      }
      img{
        float: left;
        padding: 1em;
        margin-right: 1em;
        margin-bottom: 1em;
        box-shadow: 0.176em 0.176em 0.354em 0px rgba(0, 0, 0, 0.75);
      }
      .price{
        font-size: 1.414em;
      }
    }
  }
}

body { 
  margin: 0;
  padding: 0;
}

header.main{
  text-align: center; //center on mobile
  @media (min-width: 30em) {
    text-align: left;
  }
  background: #282;
  margin: 0;
  h1 { 
    display: none;
  }
}

.content{
  margin: 0;
  padding: 0;
  display: flex;
  display: -webkit-flex;
  flex-direction: column; //mobile is horizontally laid out
  -webkit-box-orient: vertical;
  -webkit-box-direction:normal;

  @media (min-width: 30em) {
    flex-direction: row; //desktop is horizontally laid out
    -webkit-box-orient: horizontal;
  }

  nav { 
    padding-bottom: 1em;
    background: #141;
    text-align: center;
    @media (min-width: 30em) {
      text-align: left;
      padding: 1em;
    }
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      @media (min-width:30em) {
        padding-right: 1em;
      }
      li{
        margin: 0;
        padding:0.5em;
        text-transform: uppercase;
        letter-spacing: 0.354em;
        a{
          color: #bfb;
          text-decoration: none;
        }

        a:hover{
          background: none;
          color: white;
        }
      }
    }
  }

  main{
    padding: 0.5em;
  }
}

nav.logged_in_nav { border-top: solid thin #bfb; padding: 0.354em 0; margin-top: 0.354em; input[type="submit"] {
  // Make the logout button look like a // link, so it matches the nav style background: none;
  border: none;
      color: #bfb;
      font-size: 1em;
      letter-spacing: 0.354em;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
  }
  input[type="submit"]:hover {
      color: white;
    }
  }